<html>

<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="/css/bootstrap.min.css" rel="stylesheet" >
<link href="/css/styles.css" rel="stylesheet" >
<link rel="stylesheet" type="text/css" href="indexcss.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="/images/fav.png" />

<!-- for disqus -->
<style>
.bottom {

  text-align: center;
  bottom: 0px;
  width: 100%;
}

.loggo{
height: 1%;
 width:100%;
}

.hh{
  font-family: 'Montserrat Subrayada', sans-serif;
}
</style>

</head>
<body>

<script src="jquery/jquery-3.3.1.min.js"> </script>
  <script src="js/popper.min.js"> </script>
 <script src="js/bootstrap.min.js"> </script>




 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <div class="container">
   <a class="navbar-brand" href="/api">
     <img src="/images/loggo.png"/ class="loggo">
   </a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

    <li class="nav-item active">
      <a class="nav-link mx-2" href="/api">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link mx-2 " href="/api1/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link mx-2 " href="/api1/allbadroads">All the bad roads</a>
    </li>
    {{#unless user}}
    <li class="nav-item">
      <a class="nav-link mx-2" href="/api/register">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link mx-2" href="/api/login">Login</a>
    </li>
    {{/unless}}

    {{#if user}}
    <li class="nav-item">
      <a class="nav-link mx-2" href="/api/profile">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link mx-2" href="/api/contact">Contact Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link mx-2" href="/api/donate">Donate Us</a>
    </li>


  <li class="nav-item">
    <a class="nav-link mx-2" href="/api/logout">Logout</a>
  </li>
  {{/if}}
  </ul>
  <div class="floatright">
       <input class="form-control mr-sm-2" type="search" placeholder="Search">
  </div>
</div>

     </div>

</nav>



<h1 class="hh"> All the Bad Roads!</h1>

<!--
{{#each users}}
<h4>{{this.LocationArray}}</h4>
{{/each}}
-->

<script>
var cords=[
{{#each users}}
{{this.LocationArray}},
{{/each}}
];
</script>




<br />
<div id="map"></div>

<script>

function initMap(){
  // Map Options
  var options={
    zoom:11,
    center:{lat :17.3850, lng: 78.4867 }
  }
  //New Map
  var map=new google.maps.Map(document.getElementById('map'),options);

var image = '../images/pot.png';

/*
  //Add marker
  var marker = new google.maps.Marker({
    position:{lat:17.4321,lng:78.4385},
    map:map,
    icon:image

})


var infoWindow = new google.maps.InfoWindow({
  content:'<h1>A very bad road</h1>'
})

marker.addListener('click',function(){
  infoWindow.open(map,marker);
})
*/
//addMarker({lat:17.3916,lng:78.4401})

var k,i;







for(i=0;i<=300;i=i+2){
addMarker({ lat : cords[i], lng : cords[i+1]});
}




addMarker()


function addMarker(coords){
  var marker = new google.maps.Marker({
    position:coords,
    map:map,
    icon:image

})

}

}

</script>
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPL_QUZ5EDYFX5jLABjwMXxbL7bf74WUs&callback=initMap" async defer></script>


<!-- disqus -->
<div id="disqus_thread" class="bottom"></div>

 <script>

 /**
 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
 /*
 var disqus_config = function () {
 this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
 this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
 };
 */
 (function() { // DON'T EDIT BELOW THIS LINE
 var d = document, s = d.createElement('script');
 s.src = 'https://badroads.disqus.com/embed.js';
 s.setAttribute('data-timestamp', +new Date());
 (d.head || d.body).appendChild(s);
 })();
 </script>
 <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<!-- end of disqus -->

<!--UPLOAD BUTTON--->
<div class="mono">
  <a href="/api/addbadroad">
<button   type="button" class="btn btn-warning btn-circle btn-xl"><i class="fas fa-upload"></i></button>
</a>
</div>
<!--uPLOAD BUTTON ENDS-->

</body>
</html>
