<html>

<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Bangers|Bungee+Inline" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet" >
<link href="/css/styles.css" rel="stylesheet" >
<link rel="stylesheet" type="text/css" href="indexcss.css">
  <link rel="shortcut icon" type="image/png" href="/images/fav.png" />

<style>
.loggo{
height: 1%;
 width:100%;
}
</style>

</head>
<body>

<script src="jquery/jquery-3.3.1.min.js"> </script>
  <script src="js/popper.min.js"> </script>
 <script src="js/bootstrap.min.js"> </script>


 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <div class="container">
   <a class="navbar-brand" href="/api">
     <img src="/images/loggo.png"/ class="loggo">
   </a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

    <li class="nav-item active">
      <a class="nav-link mx-2" href="/api">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link mx-2 " href="/api1/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link mx-2 " href="/api1/allbadroads">All the bad roads</a>
    </li>
    {{#unless user}}
    <li class="nav-item">
      <a class="nav-link mx-2" href="/api/register">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link mx-2" href="/api/login">Login</a>
    </li>
    {{/unless}}

    {{#if user}}
    <li class="nav-item">
      <a class="nav-link mx-2" href="/api/profile">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link mx-2" href="/api/contact">Contact Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link mx-2" href="/api/donate">Donate Us</a>
    </li>


  <li class="nav-item">
    <a class="nav-link mx-2" href="/api/logout">Logout</a>
  </li>
  {{/if}}
  </ul>
  <div class="floatright">
       <input class="form-control mr-sm-2" type="search" placeholder="Search">
  </div>
</div>

     </div>

</nav>



<div align="center">
  <form method="post" action="/api/contact">
  <h1 style="font-family: 'Bungee Inline', cursive;">Contact Us:-</h1>
  <p style="font-family: 'Bungee Inline', cursive;">Name:-</p> <input type="text" name="name" />
  <p style="font-family: 'Bungee Inline', cursive;">Email:-</p> <input type="text" name="email" />
  <p style="font-family: 'Bungee Inline', cursive;">Phone Number:-</p> <input type="text" name="phone" />
  <p style="font-family: 'Bungee Inline', cursive;">Your Query:-</p> <textarea rows="11" cols="50" name="query"></textarea>
  <br />
  <br /><button type="submit" class="btn btn-outline-info">Submit</button>
  </form>
</div>




</body>
</html>
