<!DOCTYPE html>
<script>
var text = "";
var i;
for (i = 0; i < 9; i++) {
des=[{{user.[0].description}},{{user.[1].description}},{{user.[2].description}},{{user.[3].description}}];
}
document.getElementById("dess").innerHTML = des;
</script>

<h1 id="dess"></h1>
