

body { background-image:url('/images/calm.gif'); background-repeat:repeat; }

h1{
  color:brown;
}
h2{
  color:rgb(182, 85, 212);
}

h3{
  color:darkgrey;
}

h4{
  color:yellowgreen;
}

p{
  color:greenyellow;
}

img{
  height:300px;
  width:420px;
}


.pp {
  color: antiquewhite; }

  .cc {
    color:greenyellow;

    }


#map{
  height:630px;
  width:100%;
}

.descrip{
  font-family: 'Acme', sans-serif;
  font-size: 15px;
}


.inl{
 display: inline;
}


.title{
  font-family: 'Pacifico', cursive;
  font-size:100px;
}


.sty{
  font-family: 'Pacifico', cursive;
  font-size:35px;
}
